* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Kiwi Maru', serif; */
    font-family: 'roboto', sans-serif;
}

nav {
    background-color: rgb(247, 246, 242);
}

.nav-container {
    padding: 40px 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo, .nav-links {
    text-transform: uppercase;
}

.logo p {
    font-size: 28px;
    font-weight: bold;
    color: rgb(228, 157, 27);
}
.nav-links ul{
    padding: 8px 0;
    display: flex;
    flex-direction: row;
}

.nav-links ul li {
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(32, 31, 31);
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url("https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150;
    background-position-y: -380px;
}

.hero-main {
    padding: 60px 20px 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.hero-intro {
    color: white;
    font-size: 48px;
    padding-bottom: 70px;
    text-shadow: 2px 2px 5px rgb(82, 80, 80);
}

.hero-intro span {
    color: rgb(228, 157, 27);
    font-size: 1.6em;
}

.hero-button a{
    font-weight: 500;
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: rgb(228, 157, 27);
    padding: 20px 40px;
    box-shadow: 2px 2px 5px gray;
}

.hero-button a:hover {
    background-color: rgb(124, 175, 29);
}

.contact {
    background-color: rgb(124, 175, 29);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.contact:hover {
    text-decoration: none;
    background-color:rgb(228, 157, 27);
}

.services {
    padding: 30px 20px;
    width: 80%;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: rgb(228, 157, 27);
    padding-bottom: 20px;
}

h2 {
    font-size: 48px;
    color: rgb(228, 157, 27)
}
.service-list .list{
    padding: 20px;
}

.list1, .list2, .list3 {
    padding: 30px;
    border: 1px solid gray;
    width: 25%;
}

.list {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

footer {
    width: 100%;
    background-color: rgb(61, 58, 58);
    height: 400px;
}